<div class="wrapper">
    <div id="background" [ngStyle]="{'background-image': 'url(' + background + ')'}">
        <!--<img src="{{background}}" alt="">-->

    </div>
    <h2>Fotogaléria</h2>
    <h4>Kategórie</h4>
    <hr>
    <div class="container">

        <flash-messages></flash-messages>
        <div class="gallery clearfix  row">

            <div class="card" *ngFor="let item of galleries;let index = index; "
                 (mouseenter)=" setBackground(item?.image?.fullpath);getImagesCount(item.path)"
                 (mouseover)="item[showCount] = 'show'"
                 (mouseleave)="item[showCount] = 'hide'">
                <img [imageLazyLoadItem] class="card-img-top" [routerLink]="['/'+item.path]"
                     [src]="item?.image?.fullpath ? path + '0x156/' + item?.image?.fullpath : defaultImage"
                     alt="Card image cap">
                <div class="card-block ">
                    <h4 class="card-title imagesCount"></h4>
                    <h4 class="card-title title">{{item.name}}</h4>
                    <!-- Button trigger remove modal -->
                    <img data-toggle="modal" data-target="#removeModal" class="closeIcon"
                         src="../../../assets/images/close.png" alt="">

                    <!-- remove modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Remove gallery</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Táto akcia sa nedá vrátiť spať
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-danger" (click)="removeGallery(item)"
                                            data-dismiss="modal">Yes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <span style="opacity: 0" class="imagesCount"
                          [@showCount]="item[showCount]">{{imagesCount}}</span>
                </div>
            </div>

            <!-- Add gallery -->
            <div class="card">
                <div class="card-block add">
                    <i class="material-icons addgallery" data-toggle="modal" data-target="#exampleModal"
                       data-whatever="@getbootstrap">add_to_photos</i>
                    Pridať kategóriu
                </div>
            </div>
        </div>


    </div>
</div>

<!-- Modal for adding gallery -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Add gallery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Zadajte názov galérie</label>
                        <input type="text" class="form-control" id="recipient-name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" (click)="addGallery()" data-dismiss="modal">Pridať
                </button>
            </div>
        </div>
    </div>
</div>




