<div class="wrapper">
    <div id="background">
        <img src="{{background}}" alt="">

    </div>
    <h2>Fotogaléria</h2>
    <h4>Kategórie</h4>
    <hr>
    <div class="container">

        <flash-messages></flash-messages>
        <div class="gallery clearfix  row">

            <div class="card" *ngFor="let item of galleries;let index = index;"
                 (mouseenter)=" setBackground(item?.image?.fullpath)"
                 (mouseover)="item[showCount] = true; getImagesCount(item.path);"
                 (mouseleave)="item[showCount] = false">
                <img class="card-img-top" [routerLink]="['/'+item.path]"
                     [src]="item?.image?.fullpath ? path + '0x156/' + item?.image?.fullpath : defaultImage"
                     alt="Card image cap">
                <div class="card-block ">
                    <h4 class="card-title imagesCount"></h4>
                    <h4 class="card-title title">{{item.name}}</h4>
                    <img class="closeIcon" src="../../../assets/images/close.png" alt="" (click)="removeGallery(item);">
                    <span class="imagesCount animated zoomIn " [hidden]="!item[showCount]">{{imagesCount}}</span>
                </div>
            </div>

            <div class="card">
                <div class="card-block add">
                    <i class="material-icons addgallery" (click)="addGallery()">add_to_photos</i>
                    Pridať kategóriu
                </div>
            </div>
        </div>


    </div>
</div>