<div (click)="hideOverlay()" id="overlay"></div>
<div class="wrapper">
    <div id="background">
        <img src="{{background}}" alt="">

    </div>
    <h2>Fotogaléria</h2>
    <h4>Kategórie</h4>
    <hr>
    <flash-messages></flash-messages>
    <div class="gallery clearfix container row">

        <div class="card" style=""
             *ngFor="let item of imagesCollection;">
            <img class="card-img-top" src="http://api.programator.sk/images/0x156/{{item.fullpath}}"
                 alt="Card image cap" (click)="showLightBox(item.fullpath)">
            <div class="card-body">
                {{item.name}}
                <img class="closeIcon" src="../../../assets/images/close.png"
                     alt="" (click)="removeImage(item.fullpath);">
            </div>
        </div>

        <div class="card">
            <div class="card-block add">
                <div dnd-droppable class="panel panel-info drag-and-drop"
                     (onDropSuccess)="transferDataSuccess($event)">
                    <div class="panel-heading">Place to drop</div>
                    <div class="panel-body">
                    </div>

                    <i class="material-icons addgallery" (click)="addImage()">add_to_photos</i>
                    Pridať obrázok
                </div>
            </div>
        </div>
    </div>
</div>