h2,h3,h4{
    color: white;
}
.wrapper {
    box-sizing: border-box;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15vh;
}

.gallery{
    justify-content: center;
    margin: 0 auto;
}
.card {

   width: 263px;
    margin: 15px;
}


#background {
    height: 51.8vh;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-size: cover;
    z-index: -2;
    overflow: hidden;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

img.card-img-top {

    height: 156px;
}

.card-block {
    min-height: 56px;
    position: relative
}

h4.card-title {
    line-height: 56px;
    text-align: center;
    color: #555555;
    font-size:16px;
    text-transform: uppercase;
    position: relative;
}

span.imagesCount.ng-trigger.ng-trigger-showCount {
    transition:opacity 0.4s ease-in;
}

#background img {
    height: 100%;
    width: 100%;
    filter: blur(4px);
    transform: scale(1.2);
}

i.material-icons.addImage {
  font-size: 50px;
  color: #e1e1e1;
  text-align: center;
  line-height: 212px;
}
.custom-file-upload {
  border: 3px solid #ccc;
  display: inline-block;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 6px;
}

img.previewImage {
  width: calc(100%/3);
  max-height: 100px;
}

div#previewImages {
  padding: 15px;
}
div#previewImages > img:nth-child(2n+1) {
  padding: 5px 15px;
}
.card-block.add {
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.custom-file-upload input[type="file"] {
  display: none;
}
.modal-footer {
  border: 1px dotted #a9a9a9;
  margin: 15px;
  /* color: black; */
}

hr {
    margin-top: 1rem;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.59);
    margin-bottom: 35px;
}

h4.card-title.imagesCount {
    position: absolute;
    left: 0px;
    top: 38px;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    background: white;
    transition: opacity 0.5s ease-out;
}

h4.card-title.title {
    font-weight: bold;
}



.card-block.add {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 225px;
}

i.material-icons.addgallery {
    font-size: 50px;
    color: #e1e1e1;
}


img.closeIcon {
    position: absolute;
    /* font-size: 16px; */
    width: 16px;
    right: 10px;
    top: 10px;
}

.card-body {
    position: relative;
}

.alert {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9999999999999999;
    box-shadow: 2px 2px 8px 0px #0000004d;
    line-height: 12px;
}


span.imagesCount {
    position: absolute;
    top: -40px;
    font-weight: bolder;
    color: #0000007a;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: white;
    width: 100%;
    padding: 10px;
}

.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}

.dnd-sortable-drag {
    -moz-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    transform:scale(0.9);
    opacity:0.7;
    border: 1px dashed #000;
}

.panel.panel-info {
    background: grey;
    color: white;
    padding: 20px;
}

div#overlay {
    display: none;
    position: fixed;
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: center;

    background: #00000040;
    z-index: 9999;
}

.drag-and-drop {
    height: 100%;
    width: 100%;
}

#loader {
    position: fixed;
    left: 50%;
    margin-left: -50px;
    height: 100px;
    z-index: 999999999999;
}




